<div>
  <h1 class="font-bold text-6xl bg-gradient-to-r from-pink-500 to-purple-400 bg-clip-text text-transparent">Cloud Notes</h1>
  <p class="text-lg text-gray-200"> A music producers dream notebook. Created by wavclouds </p>

  <div class="mt-4 flex">
    <%= link_to "Sign in", new_authentication_path, class: "bg-green-500 text-green-100 p-2 rounded-lg" %>
    <%= link_to "Create account", new_registration_path, class: "text-gray-200 p-2 ml-3" %>
  </div>
</div>
